.section-treatment {
    background: $section;
    color: $white;
    .container {
        padding: 50px 17px 40px 17px;
        .title {
            @include title;
        }
        .treatment__blocks {
            padding-top: 30px;
            .block__info {
                width: 95%;
                border: 1px $white solid;
                margin: 0 auto;
                position: relative;
                margin-bottom: 20px;
                .block__container {
                    padding: 30px 50px 15px 50px;
                    .info__title {
                        text-align: center;
                        font-size: 28px;
                        font-weight: 600;
                    }
                    .block__line {
                        display: flex;
                        .info__desckr {
                            padding-top: 30px;
                            text-align: left;
                            font-size: 23px;
                            line-height: 30px;
                            font-weight: 500;
                            width: 80%;
                        }
                        .info__img {
                            img {
                                position: absolute;
                                right: 10%;
                                bottom: 15px;
                            }
                        }
                    }
                }
            }
            .block {
                width: 75%;
                border: 1px $white solid;
                margin: 0 auto;
                .block__container {
                    padding: 15px 15px 10px 15px;
                    .warring__title {
                        text-align: center;
                        font-size: 30px;
                        font-weight: 700;
                    }
                    .block__line {
                        padding-top: 20px;
                        text-align: center;
                        .warring__desckr {
                            font-size: 25px;
                            font-weight: 500;
                            line-height: 30px;
                            letter-spacing: 10%;
                        }
                        .warring__subtitle {
                            text-align: center;
                            padding-top: 20px;
                            font-size: 26px;
                            font-weight: 500;
                            text-decoration: underline;
                            a {
                                text-decoration: none;
                                color: $white;
                            }
                            span {
                                text-transform: uppercase;
                                font-size: 24px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}